<a href="https://colab.research.google.com/github/amitthakur2013/play_with_pandas/blob/master/1-pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [8]:
df=pd.read_csv('http://samplecsvs.s3.amazonaws.com/Sacramentorealestatetransactions.csv')
df.head()

             street        city    zip  ...  price   latitude   longitude
0      3526 HIGH ST  SACRAMENTO  95838  ...  59222  38.631913 -121.434879
1       51 OMAHA CT  SACRAMENTO  95823  ...  68212  38.478902 -121.431028
2    2796 BRANCH ST  SACRAMENTO  95815  ...  68880  38.618305 -121.443839
3  2805 JANETTE WAY  SACRAMENTO  95815  ...  69307  38.616835 -121.439146
4   6001 MCMAHON DR  SACRAMENTO  95824  ...  81900  38.519470 -121.435768

[5 rows x 12 columns]

In [16]:
df1=df[df['price']>81000]
df1.head()

                            street            city  ...   latitude   longitude
4                  6001 MCMAHON DR      SACRAMENTO  ...  38.519470 -121.435768
5               5828 PEPPERMILL CT      SACRAMENTO  ...  38.662595 -121.327813
6              6048 OGDEN NASH WAY      SACRAMENTO  ...  38.681659 -121.351705
7                    2561 19TH AVE      SACRAMENTO  ...  38.535092 -121.481367
8  11150 TRINITY RIVER DR Unit 114  RANCHO CORDOVA  ...  38.621188 -121.270555

[5 rows x 12 columns]

In [19]:
df['price'].max()

884790

In [22]:
df2=df[df['type']=='Residential']
df2.head()

             street        city    zip  ...  price   latitude   longitude
0      3526 HIGH ST  SACRAMENTO  95838  ...  59222  38.631913 -121.434879
1       51 OMAHA CT  SACRAMENTO  95823  ...  68212  38.478902 -121.431028
2    2796 BRANCH ST  SACRAMENTO  95815  ...  68880  38.618305 -121.443839
3  2805 JANETTE WAY  SACRAMENTO  95815  ...  69307  38.616835 -121.439146
4   6001 MCMAHON DR  SACRAMENTO  95824  ...  81900  38.519470 -121.435768

[5 rows x 12 columns]

In [0]:
df.fillna(0,inplace=True)

In [25]:
df.shape

(985, 12)

In [26]:
df.tail()

                  street             city    zip  ...   price   latitude   longitude
980   9169 GARLINGTON CT       SACRAMENTO  95829  ...  232425  38.457679 -121.359620
981      6932 RUSKUT WAY       SACRAMENTO  95823  ...  234000  38.499893 -121.458890
982    7933 DAFFODIL WAY   CITRUS HEIGHTS  95610  ...  235000  38.708824 -121.256803
983     8304 RED FOX WAY        ELK GROVE  95758  ...  235301  38.417000 -121.397424
984  3882 YELLOWSTONE LN  EL DORADO HILLS  95762  ...  235738  38.655245 -121.075915

[5 rows x 12 columns]

In [31]:
df[2:5]

             street        city    zip  ...  price   latitude   longitude
2    2796 BRANCH ST  SACRAMENTO  95815  ...  68880  38.618305 -121.443839
3  2805 JANETTE WAY  SACRAMENTO  95815  ...  69307  38.616835 -121.439146
4   6001 MCMAHON DR  SACRAMENTO  95824  ...  81900  38.519470 -121.435768

[3 rows x 12 columns]

In [0]:
df.zip

In [37]:
df3=df[['zip','state']]
df3[:5]

     zip state
0  95838    CA
1  95823    CA
2  95815    CA
3  95815    CA
4  95824    CA

In [38]:
df.zip.max()

95864

In [39]:
df.describe()

                zip        beds  ...    latitude   longitude
count    985.000000  985.000000  ...  985.000000  985.000000
mean   95750.697462    2.911675  ...   38.607732 -121.355982
std       85.176072    1.307932  ...    0.145433    0.138278
min    95603.000000    0.000000  ...   38.241514 -121.551704
25%    95660.000000    2.000000  ...   38.482717 -121.446127
50%    95762.000000    3.000000  ...   38.626582 -121.376220
75%    95828.000000    4.000000  ...   38.695589 -121.295778
max    95864.000000    8.000000  ...   39.020808 -120.597599

[8 rows x 7 columns]